[core]
	excludesFile = /home/deevus/.dotfiles/.gitignore
	editor = nvim
	autocrlf = input
	eol = native
[user]
    name = Simon Hartcher
    email = simon@simonhartcher.com
	signingkey = 6A6787B2
[alias]
# hub
    pr = pull-request

# git-flow
    fs = flow feature start
    bs = flow bugfix start
    rs = flow release start
    hs = flow hotfix start

    fp = flow feature publish
    bp = flow bugfix publish
    rp = flow release publish
    hp = flow hotfix publish

    rf = flow release finish
    hf = flow hotfix finish

[merge]
	tool = vimdiff
[mergetool]
	nvim = nvim -d \"\\$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
	path = nvim
[mergetool "nvim"]
	cmd = nvim -d \"\\$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"
[commit]
	gpgsign = false
