export PATH="$HOME/.local/bin:/usr/local/opt/ruby/bin:/usr/local/lib/ruby/gems/3.0.0/bin:$PATH"

if [[ -f "$HOME/.cargo/env" ]]; then . "$HOME/.cargo/env"; fi

export NVM_DIR="$HOME/.nvm"
  [ -s "/usr/local/opt/nvm/nvm.sh" ] && \. "/usr/local/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/usr/local/opt/nvm/etc/bash_completion.d/nvm"

export PYENV_ROOT="$HOME/.pyenv"

if [ -x "$(command -v swiftenv)" ]
then
  export SWIFTENV_ROOT="$HOME/.swiftenv"
  export PATH="$SWIFTENV_ROOT/bin:$PATH"
  eval "$(swiftenv init -)"
fi

export PLAYDATE_SDK_PATH="/opt/playdate"

export VALGRIND_ARGS="--leak-check=full --track-origins=yes --show-leak-kinds=all --num-callers=15"
alias valgrind="valgrind $VALGRIND_ARGS"

# Git configuration
export GIT_CONFIG_COUNT=2
export GIT_CONFIG_KEY_0=github.accesstoken
export GIT_CONFIG_VALUE_0=$GITHUB_TOKEN
export GIT_CONFIG_KEY_1=core.excludesFile
export GIT_CONFIG_VALUE_1=~/.gitignore

export GITHUB_TOKEN="{{- pass "Tokens/GitHub" -}}" # GitHub
export INTELEPHENSE_KEY="{{- pass "Software/Intelephense" -}}" # PHP lsp
export DEEP_SEEK_API_KEY="{{- pass "Tokens/DeepSeek" -}}" # DeepSeek
export OPENAI_API_KEY="{{- pass "Tokens/OpenAI" -}}" # OpenAI

eval "$(mise activate zsh)"

if [ -x "$(command -v godotenv)" ]
then
  export GODOT="$(godotenv godot env path)"
  GODOTENV_BIN_PATH="$(dirname $GODOT)"
  export PATH="$PATH:$GODOTENV_BIN_PATH"
fi
