{
  "context_servers": {
    "mcp-server-github": {
      "source": "extension",
      "enabled": true,
      "settings": {
        "github_personal_access_token": "{{ pass GitHub/Token }}"
      }
    }
  },
  "agent": {
    "always_allow_tool_actions": true,
    "default_profile": "write",
    "model_parameters": [],
    "default_model": {
      "provider": "zed.dev",
      "model": "claude-sonnet-4"
    }
  },
  "theme": "Dracula",
  "vim_mode": true,
  "ui_font_size": 16,
  "buffer_font_size": 16,
  "languages": {
    "GDScript": {
      "formatter": {
        "external": {
          "command": "gdformat",
          "arguments": [
            "-"
          ]
        }
      },
      "show_whitespaces": "all"
    },
    "Zig": {
      "code_actions_on_format": {
        "source.fixAll": true
      }
    }
  }
}
