{{ $isOSX	:= eq .chezmoi.os "darwin" }}

[settings]
experimental = true

[tools]
"pipx:gdtoolkit" = "latest"
"pipx:httpie" = "latest"
{{- if $isOSX }}
node = "18"
bun = "1"
zig = "latest"
rust = "latest"
"cargo:eza" = "latest"
terraform = "1.7"
python = "latest"
go = "latest"
usage = "latest"
{{-end}}
