{{ $isOSX	:= eq .chezmoi.os "darwin" }}

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[tools]
"pipx:gdtoolkit" = "latest"
"pipx:httpie" = "latest"
"pipx:basedpyright" = "latest"
"cargo-binstall" = "latest"
"cargo:https://github.com/bgreenwell/lstr" = "@tag:v0.2.0"
{{- if $isOSX }}
node = "18"
bun = "1"
zig = "latest"
rust = "latest"
"cargo:eza" = "latest"
terraform = "1.7"
python = "latest"
go = "latest"
usage = "latest"
direnv = "latest"
act = "latest"
"ubi:ajeetdsouza/zoxide" = "latest"
{{- end }}
